:root {
  --blue: #19283f;
}

body {
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

h1 {
  color: var(--blue);
  font-size: 80px;
  text-align: center;
  margin: 20px 0;
}

.container-inner {
  display: flex;
  justify-content: center;
}

.title-container {
  align-items: center;
  display: flex;
}

.title {
  font-weight: bold;
  margin-bottom: 5px;
}

.weatherIcon {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 15px;
}

.weatherCard {
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  min-height: 280px;
  justify-content: space-between;
  margin: 20px 0;
  padding: 30px;
}

.partialy-cloudy {
  background: url('https://images.unsplash.com/photo-1566437036079-0e00cc9ea796?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NjAwNjA4NDI&ixlib=rb-1.2.1&q=80');
  background-size: cover;
  color: var(--blue);
}

.info-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  gap: 1.5rem;
}

.info {
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80px;
  max-width: 150px;
  padding: 2rem;
  text-align: center;
}

.info-title {
  font-size: 12px;
  margin-bottom: 6px;
}

.info-value {
  font-size: 20px;
  font-weight: 500;
}

.temperature {
  align-items: center;
  display: flex;
  margin: 5px 0;
}

.temperature-max {
  font-size: 48px;
}

.humidity,
.sunrise,
.data-calculation-time {
  background-color: var(--blue);
  color: #fff;
}

.feel-like,
.sunset {
  background-color: #cce16a;
  color: #000;
}

.wind,
.visibility {
  background-color: #fff;
  color: #000;
}

.forecast,
.city,
#country {
  font-size: 14px;
}

@media (min-width: 900px) {
  .search-container {
    width: 400px !important;
  }
}

@media (max-width: 767px) {
  .search-container {
    width: 340px !important;
  }

  .info-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .info-value {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
  }
}
