# Copy this to .env and fill in values

# Application
NODE_ENV=development
APP_NAME=mern-multi-container

# Backend
BACKEND_PORT=5000
DB_URL=mongodb://mongodb-container/merndb   # ✅ Use container NAME (here, mongodb-container)
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=7d

# Frontend
FRONTEND_PORT=3000
VITE_API_URL=http://localhost:5000/api/v1


# Database
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
MONGO_INITDB_DATABASE=merndb