@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.card-container {
  display: flex;
  width: 90vw;
}

.card {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  color: #fff;
  border-radius: 50px;
  margin: 10px;
  flex: 0.5;
  position: relative;
  cursor: pointer;
  transition: all 0.7s ease-in;
}

.card h3 {
  font-size: 1.5rem;
  position: absolute;
  left: 20px;
  bottom: 20px;
  margin: 0;
  opacity: 0;
}

.card.active {
  flex: 5;
}

.card.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
  .card-container {
    width: 100vw;
  }

  .card:nth-child(4),
  .card:nth-child(5) {
    display: none;
  }
}
