@import "variables";
@import "reset";

nav {
  background: $primary-color;
}

.navigation {
  list-style: none;

  li {
    display: inline-block;
    margin: 30px;

    &:first-child {
      margin: 0;
    }

    a:link {
      text-transform: uppercase;
      color: $dark-color;
    }
  }
}

a {
  text-decoration: none;
}

